//base.scss

html {
  font-family: $text-font;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: $font-size-base;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
}

a {
text-decoration: none;
color: #FFF;
}

h1 {
font-size: 2.5em;
text-align: center;
color: #FFF;
}

h2 {
font-size: 2em;
text-align: center;
}

h3 {
font-size: 1.75em;
}

h4 {
font-size: 1.5em;
}

p {
font-size: 1em;
font-weight: $weight-book;
}