//basic typography style

//Font Variables
$text-font: 'Trebuchet MS', Arial, sans-serif;
//$title-font: 'Sniglet', cursive;
$subtitle-font: 'Open Sans', sans-serif;

//Font sizes
$font-size-html: 100%;
$font-size-base-px: 16px;
$font-size-base: 1rem;
$font-size-card-title: 1.2rem;

// Font weights
$weight-lighter: 100;
$weight-light: 200;
$weight-book: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;
