//home
.home-page {
  background: $primary-color;
  height: 100vh;
  display: flex;
  flex-direction: row;
  .home-left {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 0;
    @media screen and (min-width : 764px){ 
      align-items: center;
      justify-content: center;
      }
    button {
      margin-top: 1.5rem;
      padding: 1rem 1.5rem 1rem 1.5rem;
      background-color: $tertiary-color;
      border-color: $tertiary-color;
      border-radius:$border-radius-s;
      @media screen and (min-width : 764px){        
      margin-top: 5rem;
      }
    }
  }
  .home-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
  }
}

.animated-subtitle{
  white-space: nowrap;/*preventthetextwrap*/
  overflow: hidden;
  font-size: 28px;
  color: #fff;
  border-right: solid 3px #fff;/*thecursor*/
}
.animated-subtitle {
  animation: animtext 5s steps(10,end) 1s 1 normal both,        animcursor 600ms steps(10,end) infinite;
  -webkit-animation: animtext 5s steps(10,end) 1s 1 normal both,        animcursor 600ms steps(10,end) infinite;
}
@keyframes animtext{
  from{width: 0;}
  to{width: 100px;}
}
@keyframes animcursor{
  from{border-right-color: #fff;}
  to{border-right-color: transparent;}
}

#about {
  display: flex;
  flex-direction: column;
}

#resume{
  background-color: #FFF;
  .title {
    color: #000;
  }
}
