.mentionslegales{    
    font-size: 16px;
    text-align: justify;
    margin: 0 1rem;
    .text-bold{
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        margin: 1rem 0;
    }
}