//sidebar
.sidebar {
    height: 100%;
    border-right: 1px solid #ededed;
    padding: 30px 0;
    float: left;
    text-align: center;
    position: relative;
    width: 80px;
  }
  .mCustomScrollBox {
    overflow: hidden;
  }
  .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
    overflow: hidden;
  }
  .sidebar .mCSB_inside>.mCSB_container {
    margin-right: 0;
  }
  /* 4.1 = MENU */
  .sidebar ul li {
    margin-bottom: 15px;
  }
  .sidebar ul li:last-child {
    margin-bottom: 0;
  }
  .sidebar ul li a {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 0;
    color: #646464;
    -webkit-transition: linear .1s;
    transition: linear .1s;
  }
  .sidebar ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #ebebeb;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .sidebar ul li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: inline-block;
  }
  .sidebar ul li a i {
    font-size: 16px;
  }
  .sidebar ul .active a:before {
    background: #333;
  }
  .sidebar ul .active a i {
    color: #FFF;
  }
  .sidebar ul li a:hover::before {
    background: #333;
  }
  .sidebar ul li a:hover i {
    color: #FFF;
  }
  /* 4.2 = SOCIAL ICONS */
  .sidebar .social {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
   }
  .sidebar .social a {
    display: block;
    margin-bottom: 10px;
  }
  .sidebar .social a:last-child {
    margin-bottom: 0;
  }
  .sidebar .social a i {
    color: #555;
  }
  .sidebar .social a:hover i {
    color: #212121;
  }
  
  /* 4.3 SLIDING NAV */
  .slide-nav-btn {
    border: 1px solid rgba(35, 35, 35, .4);
    position: fixed;
    right: 2%;
    top: 4%;
    padding: 15px;
    z-index: 99999;
    width: 45px;
    height: 40px;
    cursor: pointer;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -o-transition: .6s;
    -ms-transition: .6s;
    display: none;
  }
  .slide-nav-btn span {
    position: absolute;
    right: 5px;
    width: 55%;
    height: 2px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    -ms-transition: .4s;
    cursor: pointer;
    top: 18px;
    background: #232323;
  }
  .slide-nav-btn span:after {
    content: "";
    position: absolute;
    right: 0;
    width: 132%;
    height: 2px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    -ms-transition: .4s;
    top: 10px;
    cursor: pointer;
    background: #232323;
  }
  .slide-nav-btn span:before {
    content: "";
    position: absolute;
    right: 0;
    width: 132%;
    height: 2px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    -ms-transition: .4s;
    top: -10px;
    cursor: pointer;
    background: #232323;
  }
  .slide-nav-btn-active span {
    background: transparent !important;
  }
  .slide-nav-btn-active span:after {
    top: 0;
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
  }
  .slide-nav-btn-active span:before {
    top: 0;
    transform: rotate(-315deg);
    -webkit-transform: rotate(-315deg);
    -moz-transform: rotate(-315deg);
    -ms-transform: rotate(-315deg);
    -o-transform: rotate(-315deg);
  }