// variables.scss
//colors
$primary-color: #101010;
$secondary-color: #d8d8d8;
$tertiary-color: #0065FC;

$shadow-color: rgba(0, 0, 0, 0.25);
$shadow-color-hover:rgba(0, 0, 0, 0.5);

$button-shadow-color: rgba(163,163,163,0.2);
$button-shadow-hover-color: rgba(163,163,163,0.6);
//shadow
$shadow: 0 2px 5px rgb(170, 170, 170);
$blur-shadow: 0 10px 10px rgb(230, 230, 230);
$dark-shadow: 0 5px 15px rgb(120, 120, 120);

// Links
$link-decoration: underline;
$link-decoration-hover: underline;
$link-decoration-none: none;

//padding
$padding-xs: 5px;
$padding-s: 10px;
$padding-m: 20px;
$padding-l: 30px;
$padding-xl: 40px;

//border-radius
$border-radius-none: 0;
$border-radius-xs: 0.5rem;
$border-radius-s: 1rem;
$border-radius-m: 2rem;
$border-radius-l: 6rem;
$border-radius-xl: 100%;
$border-radius-circle: 50%;

//cards
$card-bg: white;
$card-color: #585858;
$card-description-color: #252525;
$card-border-radius: 1em;
$card-spacer-y: 1em;
$card-spacer-x: 1em;

//breadcrumb
$breadcrumb-active-color: #242D35;
$breadcrumb-separator-color: #242D35;
$breadcrumb-background-color: #6c757d;